.banner{
    padding: 30px 0;
    background: #eaaa1e;
}

.banner__contenido{
    display: flex;
    align-items: center;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    width: 1250px;
    margin: 0 auto;
    font-family: 'Cabin', sans-serif;
}
.banner__saludo{
    font-size: 3rem;
    font-weight: 900;
}

.banner__imagen{
    width: 30%;
    border-radius: 100%;
}

.banner__info{
    font-size: 20px;
    margin: 15px 0;
}

.banner__media{
    display: flex;
    justify-content: space-around;
}